* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Copperplate', fantasy;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blue;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 90px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin-bottom: 0;
}

main {
    padding: 0px 5px;
}

.logo {
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 1.5em;
    color: #000dff;
    user-select: none;
    margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.user-dropdown {
  position: relative;
}

.user-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #ccc;
}

.user-dropdown-menu a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #333;
}

.user-dropdown-menu a:hover {
  background-color: #e9e9e9;
}

.user-dropdown.open .user-dropdown-menu {
  display: block;
}

.user-dropdown .fa-user.white-icon {
  color: #ffffff;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000dff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
}

.navigation .btn_user {
    width: 75px;
    height: 60px;
    background: #000dff;
    border-width: 5px;
    border-color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    box-shadow: 0 9px #999;
    align-items: right;
    justify-content:right;
}

.navigation a::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.wrapper {
    margin-top: 50px;
    position: relative;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    backdrop-filter: blur (20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h3 {
    font-size: 1.5em;
    color: #000dff;
    text-align: center;
}

.form-box h2 {
    font-size: 2em;
    color: #000dff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-color:blue;
    border-width: 8px;
    border-radius: 10px;
    outline: 10px;
    font-size: 1.5em;
    padding: 3.5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 2.4em;
    color: #000dff;
    line-height: 70px;
}

.show-password {
    color:#000dff;
    font-size: 0.9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.show-password label input {
    accent-color: #000dff;
    margin-right: 3px;
}

input.largerCheckbox {
    transform : scale(1.5);
}

.btn_login {
    width: 100%;
    height: 65px;
    background: #000dff;
    border-width: 5px;
    border-color: white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
}

.btn_login:hover {
    background: #006eff;
}

.btn_logout:hover {
    background: #006eff;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

main .conteudo {
    width: 1420px;
    height: 600px;
    margin-top: 100px;
    background: white;
}

.messagesubmit {
    color: red;
    text-align: center;
}

.search {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    align: center;
    text-align:center;
}

.search input {
    font-size: 1.3rem;
    height: 30px;
    width: 350px;
    border-width: 3px;
    border-color: green;
    border-radius: 5px;
    padding: 3px;
}

.search span {
    transform: scaleX(3);
    background: green;
    color: white;
    border-color: blue;
    border-radius: 5px;
}

.date {
    justify-content: center;
    align-items: center;
    align: center;
    text-align:center;
}

.date input {
    border-width: 3px;
    border-color: black;
    background: transparent;
    width: 150px;
    font-size: 1.5rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list-group {
    align-items: left;
    text-align: center;
}

.container {
    justify-content: space-between;
   display: flex;
   text-align: center;
   align-items: center;
}

.container h1 {
    text align: left;
    margin-bottom: 10px;
}

.container input {
    height: 20px;
    width: 60px;
    font-size: 1rem;
}

.form-group .btn btn-warning {
    width: 10px;
    height: 10px;
}

a.cart .cart-basket {
  font-size: 1.1rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.fa,
.fas {
    color: blue;
    transform: scale(2);
}

.item-wrap {
   justify-content: space-between;
   display: flex;
   text-align: center;
   align-items: center;
}

.cont {
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	display: inline-block;
}

.cart {
    outline: none;
    border: 0;
    background: #416AA6;
    padding: 15px;
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s width;
}

.fa {
    font-size: 16px;
}

.cart .fa {
    font-size: 26px;
    position: relative;
    padding: 0 5px 0 0;
}

.cart .fa:after {
    position: absolute;
    content: attr(data-before);
    color: #000;
    left: 11px;
    font-weight: bold;
    top: 5px;
    font-size: 12px;
}

.qty {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #416AA6;
}

.dec,
.inc {
    cursor: pointer;
}

.num {
    width: 22px;
    display: inline-block;
    text-align: Center;
}

.remove {
    position: relative;
    right: 0px;
    top: 0px;
    background: red;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
}

.product {
    margin-top: 15px;
    display: inline-block;
}

.total-text p {
    display: inline-block;
    vertical-align: middle;
}

.cart .items-cart {
    margin-right: 120px;
}

.cart .quantity-cart {
    margin-right: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#product-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#product-table th,
#product-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#product-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.btn-action {
    display: flex;
    justify-content: space-between;
}

.btn-edit {
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
}

.btn-delete {
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
}

.actions {
    display: inline-block;
    margin-right: 5px;
}

th {
    text-align: center;
}

.table-title {
    text-align: center;
    font-size: 30px;
}

.table-container {
    padding-top: 100px;
}

.title-container {
    padding: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
}

.modal-content button {
    margin-right: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 10px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-label {
    margin-right: 10px;
}

.quantity-input {
    width: 60px;
    text-align: center;
}

.quantity-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.add-icon {
    margin-right: 5px;
}

.cart-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-table {
    width: 100%;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    vertical-align: top;
    margin: 3px;
}

.col {
    flex: 1 1 300px;
    background-color: #f2f2f2;
    padding: 10px;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-8 {
    flex: 0 0 70%;
}

.col-sm-4 {
    flex: 0 0 30%;
}

.card-info {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin: 10px;
}

.cart-container {
    position: sticky;
    top: 20px;
    width: 120%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente */
    background-color: #0000FF;
    padding: 10px;
    color: #fff;
    z-index: 1; /* Certifique-se de que o z-index seja maior que outros elementos para ficar acima deles */
}

.hidden {
    display: none;
}






.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.col-2 {
    width: 16.66%;
}

tfoot tr:last-child {
    font-weight: bold;
    text-align: right;
}

tfoot tr:last-child td:first-child {
    text-align: left;
}

#total-value {
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.card-info {
    border: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.button-container button.btn-primary {
    background-color: #007500;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    width: 120px;
}

.button-container button.btn-secondary {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    width: 120px;
}

.notification-icon {
    display: flex;
    align-items: center;
}

#notificacoes {
    position: relative;
}

.icone-notificacao {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    color: #333;
}

.numero-notificacoes {
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    margin-left: 4px;
}

#notificacoes-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    margin: 10px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card {
    margin-bottom: 20px;
}

.product-card .card-title {
    font-size: 18px;
    font-weight: bold;
}

.product-card .card-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.product-card input[type="number"] {
    width: 60px;
}

.products-container,
.stock-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stock-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}


  .card {
    width: 23%;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  /* Alinha o primeiro cartão de cada linha à esquerda */
  .card:first-child {
    margin-left: 0px;
  }

  /* Se desejar, você pode adicionar estilos adicionais para o layout dos cards */
  .card-img-top {
    max-height: 200px;
  }


.lead {
    visibility: hidden;
}